/* debug */
[class*="col-"]{
  /* background-color: pink;
  border: 1px solid black; */
}
/* general */

body{
  font-family: Sailec-Medium,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
/* text colors */
p,
h1,
h2,
h3{
  color: white;
}
h1{
  font-size: 50px;
}
h4{
  color: #031B4E;
}
.text_blue{
  color: #0467F6;
}
.text_black{
  color: black;
}
.text_grey{
  color: #5B678B;
}
.text_title{
  color:#031B4E;
}
/* chevron */
.fas.fa-chevron-down{
  margin-left: 3px;
}

/* wrappers */
.wrapper_80{
  width: 80%;
  margin: 0 auto;
}
.wrapper_60{
  width: 60%;
  margin: 0 auto;
}

/* padding */
.padding_bottom_40{
  padding-bottom: 40px;
}
.padding_top_40{
  padding-top: 40px;
}
.padding_bottom_20{
  padding-bottom: 20px;
}
.padding_top_20{
  padding-top: 20px;
}

/* headertop */
.header_top{
  height: 80px;
  background-color: white;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  z-index: 3;
  white-space:nowrap;
  font-size: 12px;
}
.navbar ul li{
  display: inline-block;
  list-style: none;
  margin-left: 5%;
}
.navbar ul li a{
  text-decoration: none;
    color: #031b4e;
}
.logo{
  max-width: 120px;
}
.navbar .container-fluid ul li a:hover{
  color: #0467F6;
  cursor: pointer;
}
.navbar ul li a.button_me{
  border: 1px solid #0467F6;
  color: #0467F6;
  padding: 8px;
  border-radius: 3px;
}
.navbar ul li a.button_me:hover{
  background-color: #0467F6;
  color: white;
}
.burger{
  font-size: 30px;
  color: #0467F6;
  vertical-align: middle;
}
/* header bottom */

.header_bottom{
  margin-top: 80px;
}

.header_bottom{
  background-image: url(../img/bg_home.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.form_box{
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.form_box p.text_blue{
font-size: 1.8em;
}
.form-control {
  max-width: 100%;
  margin: 0 auto;
}
.form_box p.text_black{
  margin-top: 8px;
}
#google_icon {
  max-height: 20px;
}
#terms{
  text-decoration: underline;
}
/* main */
/* customers */
.customers{
  background-color: #F3F5F9;
}
.inline_list li{
  display: inline-block;
  list-style: none;
  width: calc((100% / 6) - 3px)
}
.inline_list img{
  width: 100%;
  vertical-align: middle;
}
.customers h3,
.customers h4{
  font-size: 130%;
}
/* .customers .logos{
  line-height: 100px;
  vertical-align: middle;
} */
/* .customers img{
  max-width: 105px;
} */
.grater{
  margin-left: 5px;
}

/* deploy */
.deploy p,
.features p{
  color: #5B678B;
}
.seamlessly{
  margin-bottom: 30px;
}

.main_list{
  margin-top: 20px;
}
.main_list li{
  position: relative;
  list-style: none;
  color: lightgrey;
  border-left: 2px solid lightgrey;
  line-height: 50px;
  padding-left: 10px;
  margin-bottom: 0;
}

.main_list li:hover{
  color: black;
  cursor: pointer;
}
.main_list li:first-child{
  color: black;
  border-left: 2px solid blue;
}
.deploy_box{
  margin-top: 20px;
  line-height: 25px;
}

/* developers */
.developers{
  background-color: #F3F5F9;
}
.immagine{
  margin-top: 30px;
}
.immagine img{
  width: 60%;
}
.immagine .fa-chevron-left{
  margin-right: 5px;
  font-size: 30px;
  color: lightgrey;
}
.immagine .fa-chevron-right{
  margin-left: 5px;
  font-size: 30px;
}
.developers .text_grey{
  margin-top: 20px;
  font-size: 17px;
}
/* list{} */

.circle li{
  display: inline-block;
  list-style: none;
  margin-left: 10px;
  font-size: 60%;
}
.circle{
  padding: 0;
}
.fa-circle{
  color: #0467F6;
}
/* features */
.features h3{
  margin-bottom: 30px;
}
/* regions */
.regions h3{
  margin-bottom: 30px;
}
.regions .fa-chevron-right{
  font-size: 10px;
  margin-left: 3px;
  margin-bottom: 3px;
}
.regions{
  background-image:linear-gradient(darkblue, blue)
}
.city_code{
  margin-right: 7%;
  color:white;
}
.city{
  margin-right: 15%;
  color: lightgrey;
}
.test_speed a{
  color: 	#7fffd4
}
.regions ul li{
  white-space:nowrap;
  border-bottom: 1px solid lightgrey;
  list-style: none;
  margin-top: 5px;
}
/* digital */
.digital{
  background-color: #F3F5F9;
}
.box_digital{
  display: inline-block;
}
.rocker{
  margin: 30px auto;
  width: 30%;
}
.co_founder{
  border: 1px solid lightgrey;
  display: inline-block;
  vertical-align: middle;
}
.box_digital::before{
  content: "<";
  font-size:24px;
}
.box_digital::after{
  content: ">";
  font-size:24px;
}

.efficient {
  font-size: 20px;
  font-family:Sailec-Light, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: lightgrey;
}

/* getstarted */
.getstarted{
  background-image: url(../img/bg_home.jpg);
  background-repeat: no-repeat;
  background-position:bottom;
}
.getstarted h3{
  margin-bottom: 30px;
}
.account{
  color: #0567F6;
}
.account:hover{
  background-color: rgba(0,0,0,0.8)
  color: #0567F6;
}

/* footer top*/
.footer{
  background-color: #010E28;
}

.footer ul{
  list-style: none;
  padding-left: 0
}
.footer_ul li a{
  color: #333;
  text-decoration: none;
}
.footer_ul li .first{
  color: white;
}
.footer_ul li:first-child{
  margin-bottom: 10px;
}
.social li{
  display: inline-block;
  margin-right: 20px;
  text-align: left;
  font-size: 20px;
  color:lightgrey;
}

/* media query */

@media screen and (max-width: 768px){
  .inline_list li{
    display: inline-block;
    list-style: none;
    width: calc((100% / 2) - 3px)
  }
  .inline_list img{
    max-width: 100%;
    vertical-align: middle;
  }
}
@media (max-width: @screen-md-max) {
.immagine img{
  width: 100%;
}
