/* debug */
[class*="col-"]{
  text-align: center;
  vertical-align: middle;
  height: 50%;
  background-color: pink;
  border: 1px solid black;

/* general */
.wrapper_80{
  width: 80%;
}
.header_top{
  height: 80px;
  background-color: lightgreen;
}
