/* debug */
[class*="col-"]{
  /* background-color: pink;
  border: 1px solid black; */
}
/* general */

body{
  font-family: Sailec-Medium,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
/* text colors */
p,
h1,
h2,
h3{
  color: white;
}
h1{
  font-size: 50px;
}
.text_blue{
  color: #0467F6;
}
.text_black{
  color: black;
}
.text_grey{
  color: grey;
}
/* chevron */
.fas.fa-chevron-down{
  margin-left: 3px;
}

/* wrappers */
.wrapper_80{
  width: 80%;
  margin: 0 auto;
}

/* padding */
.padding_bottom_40{
  padding-bottom: 40px;
}
.padding_top_40{
  padding-top: 40px;
}
.padding_bottom_20{
  padding-bottom: 20px;
}
.padding_top_20{
  padding-top: 20px;
}

/* headertop */
.header_top{
  height: 80px;
  background-color: white;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  z-index: 3;
  white-space:nowrap;
  font-size: 13px;
}
.navbar ul li{
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}
.navbar ul li a{
  text-decoration: none;
    color: #031b4e;
}
.logo{
  max-width: 120px;
}
.navbar .container-fluid ul li a:hover{
  color: #0467F6;
  cursor: pointer;
}
.navbar ul li a.button_me{
  border: 1px solid #0467F6;
  color: #0467F6;
  padding: 8px;
  border-radius: 3px;
}
.navbar ul li a.button_me:hover{
  background-color: #0467F6;
  color: white;
}
.burger{
  font-size: 30px;
  color: #0467F6;
  vertical-align: middle;
}
/* header bottom */

.header_bottom{
  margin-top: 80px;
}
.header_bottom{
  background-color: blue;
}
.form_box{
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.form_box p.text_blue{
font-size: 1.8em;
}
.form-control {
  max-width: 100%;
  margin: 0 auto;
}
.form_box p.text_black{
  margin-top: 8px;
}
#terms{
  text-decoration: underline;
}
/* main */
/* customers */
.customers{
  background-color: #F3F5F9;
}
.customers h3,
.customers h4{
  font-size: 130%;
}
.customers .logos{
line-height: 100px;
vertical-align: middle;
}
.customers img{
  max-width: 105px;
}
.grater{
  margin-left: 5px;
}

/* deploy */
.deploy{
  background-color: coral;
}
.main_list li{
  list-style: none;
  margin-bottom: 10px;
}

@media screen (min-width: 768px) and (max-width: 992px){

}
